@import 'css/bootstrap.css';
/* --------------------------
:: 1.0 General Start
-------------------------- */

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
/* --------------------------
:: 1.0 General End
-------------------------- */

/* --------------------------
:: 1.0 Navbar Start
-------------------------- */

nav.navbar {
    background: linear-gradient(to left, #7873ed, #a865e1);
}
nav.navbar a.nav-link {
    color: #fff;
    font-size: 18px;
}
nav.navbar a.navbar-brand {
    font-style: italic;
    font-family: serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
button.btn {
    background-color: #28a745;
    color: #fff;
}
button.btn:hover {
    background-color: #fff;
    color: #28a745;
}
/* --------------------------
:: 1.0 Navbar End
-------------------------- */

/* --------------------------
:: 1.0 Index Start 
-------------------------- */

.admin {
    background: #28a7464b;
    padding: 15px 8px 15px;
    margin-bottom: 20px;
    text-align: center;
}

.index a.btn {
    display: block;
    margin: 0 auto;
    width: 180px;
    text-align: center;
}

.courses {
    margin-bottom: 30px;
}
.content hr {
    border: 1px dashed #28a745;
    margin-bottom: 20px;
}

.content h2 {
    margin-bottom: 20px;
    color: #28a745;
    text-decoration: underline blueviolet;
}
/* --------------------------
:: 1.0 Index End
-------------------------- */

/* --------------------------
:: 1.0 Enquiries Start
-------------------------- */

.enquiries {
    margin-bottom: 40px;
}

.enquiries button {
    background: none;
    border: none;
    cursor: pointer;
}

.enquiries button:focus {
    outline: 0;
}

/* --------------------------
:: 1.0 Enquiries End
-------------------------- */

/* --------------------------
:: 1.0 Footer Start 
-------------------------- */

footer {
    background: #28a7464b;
    /* padding: 1px 0; */
    margin-top: 40px;
}

.footer-text h2 {
    font-style: italic;
    font-family: serif;
    font-size: 50px;
    font-weight: 700;
    color: #3a3ad6;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer .footer-social-icon {
    margin: 20px 0;
}

.footer .footer-social-icon a {
    color: #6262ee;
    margin-right: 20px;
}

/* --------------------------
:: 1.0 Footer End
-------------------------- */
